<div class="container">
  <div class="row mb-5">
    <div class="col text-center">
      <h1>About</h1>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col text-center">
      <h4>
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <img src="/assets/sweets_shop.jpg">
    </div>
  </div>
</div>


