<div class="container"> 
  <div class="row">
    <div class="col-lg-4">
      <h2>ジャンル検索</h2>
    <!--ジャンル検索用のサイトバー-->
    </div>

    <div class="col-lg-8" style="background-color: #eee">
      <p>
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要となります。
      </p>
    </div>
  </div>

  <div class="col-lg-8">
    <h2>新着商品</h2>
    <table>
    <!--商品表示-->
    </table>
  
    <a href="#">全ての商品を見る ></a>
  </div>
</div>