<div class="container">
  <dib class="row mb-3">
    <div class="col-lg-3">
      <h3>検索結果</h3>
    </div>
  </dib>

  <div class="row">
    <div class="col-lg-12">
      
      <table class="table table-borderless">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <th>
                <%= image_tag item.get_image(200, 130) %>
              </th>
              <td>
                <%= link_to item.name, item_path(item.id) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>