<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <%= image_tag @item.get_image(350, 230) %>
    </div>
    <div class="col-lg-6">
      <div>
        <h4>
          <%= @item.name %>
        </h4>
        <p>
          <%= @item.introduction %>
        </p>
        <h6>
          ¥ <%= @item.price %><span> (税込)</span> 
        </h6>
        <!--カートに入れるためのform_withメソッドを記述-->
        <!--form.number_field-->
        <!--カートに入れる-->
      </div>
    </div>
  </div>
</div>